version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: library_app
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    depends_on:
      - db
      - redis
    networks:
      - laravel

  web:
    image: nginx:latest
    container_name: library_web
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: mysql:8.0
    container_name: library_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: library
      MYSQL_USER: library_user
      MYSQL_PASSWORD: library_pass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel

  redis:
    image: redis:latest
    container_name: library_redis
    ports:
      - "6379:6379"
    networks:
      - laravel

  queue:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: library_queue
    command: php artisan queue:work
    volumes:
      - .:/var/www/html
    depends_on:
      - redis
      - db
    networks:
      - laravel

networks:
  laravel:

volumes:
  db_data:
